<h1><%= @yoda_post[:title]%></h1>
<img src="http://cdn9.staztic.com/app/a/3419/3419528/talk-like-yoda-1-l-280x280.png">
<h1><%= @yoda_post[:content]%></h1>
<h1>author: <%= @yoda_post[:author]%></h1>

